//background colour
$backgroundColor: #F8FBFF

//font colour
$fontColor: #3E3E3E

// links border buttons etc
$colorSelect: #2BAB6D

// color active button
$colorSelectActive: #6FCF97

// font family defined here
$fontFamily: 'Montserrat', sans-serif

// header height
$headerHeight: 60px

// menu width
$menuWidth: 120px

// menu font color
$menuFontColor: #454663