html {
  height: 100%;
}

body {
  font-family: "Open sans", sans-serif;
  color: #1F1B20;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Lora", serif;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #333333;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FFF;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #2F343D;
  font-family: "Open sans", sans-serif;
}

h2:first-letter {
  text-transform: uppercase;
}

p:first-letter {
  text-transform: uppercase;
}

::placeholder {
  color: #FAFAFA;
}

input {
  outline: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

.content {
  padding: 0 calc(50% - 626px);
}

.mask__content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  opacity: 0;
}

.header__logo-pic {
  width: 210px;
}

.header {
  position: relative;
  background-color: #FFFFFF;
}
.header__top {
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 16px;
}
.header__txtpos {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #1F1B20;
}
.header__logo {
  margin-top: 24px;
}
.header__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__item li:not(:last-child) {
  margin-right: 24px;
}
.header__item li:nth-last-child(-n+2) {
  margin-right: 0;
}
.header__search:hover svg path {
  stroke: #AB5946;
}
.header__favorite:hover svg path {
  stroke: #AB5946;
}
.header__cart:hover svg path {
  stroke: #AB5946;
}
.header__login:hover svg path {
  fill: #AB5946;
}
.header__title a {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #1F1B20;
  text-decoration: none;
}
.header__title-label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #1F1B20;
  text-decoration: none;
  cursor: pointer;
}
.header__title-label:hover {
  color: #AB5946;
}
.header__title:not(:last-child) {
  margin-right: 40px;
}
.header__bottombg {
  background: url("../img/banner.jpg") no-repeat center;
  min-height: 788px;
}

#header__position-text {
  position: relative;
  display: inline-block;
}
#header__position-text:hover:after {
  content: attr(data-position);
  position: absolute;
  text-align: center;
  left: -30px;
  top: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #FFF;
  padding: 8px 7px;
  background-color: #000;
  border: 1px solid #000;
}

.header__position {
  display: flex;
  align-items: center;
}

.footer__discount-mobile {
  display: none;
}

.footer {
  min-height: 430px;
  background-color: #8D95A3;
}
.footer__textinput {
  width: 280px;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 16px;
  background-color: #8D95A3;
  border: 0;
  border-bottom: 1px solid #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #FAFAFA;
}
.footer__top {
  display: flex;
  padding-top: 48px;
  justify-content: space-between;
}
.footer__lheader {
  margin-bottom: 24px;
}
.footer__inflink, .footer__ablink, .footer__phlink {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #FFF;
  font-family: "Open sans", sans-serif;
  text-decoration: none;
}
.footer__linkitem:not(:last-child) {
  margin-bottom: 16px;
}
.footer__hline {
  margin-top: 66px;
  margin-bottom: 24px;
}
.footer__bottom ul {
  display: flex;
  justify-content: space-between;
}
.footer__linktext {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #FFF;
  font-family: "Open sans", sans-serif;
  text-decoration: none;
}
.footer__snetwork {
  align-items: center;
  display: flex;
}
.footer__snetwork-icon {
  margin-right: 12px;
}
.footer__snetwork:not(:last-child) {
  margin-right: 32px;
}
.footer__button {
  padding: 17px 24px;
  border: 1px solid #FFF;
  background-color: #8D95A3;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #FFF;
  font-family: "Open sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer__button-icon {
  margin-right: 12px;
}

.about__text {
  margin-top: 72px;
  margin-bottom: 72px;
  padding: 0 calc(50% - 354px);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000;
  text-align: center;
}

.section__collection-box {
  display: flex;
  margin-bottom: 64px;
}
.section__collection-item {
  width: calc(100% / 2 - 20px);
}
.section__collection-item:not(:last-child) {
  margin-right: 44px;
}
.section__collection-title {
  margin-bottom: 24px;
}
.section__collection-img {
  width: 100%;
}

.section__newitems-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.section__newitems-box {
  display: flex;
  margin-bottom: 64px;
}
.section__newitems-item {
  width: calc(100% / 4 - 20px);
}
.section__newitems-item:not(:last-child) {
  margin-right: 44px;
}
.section__newitems-img {
  width: 100%;
}
.section__newitems-title {
  margin-top: 16px;
}
.section__newitems-price {
  display: flex;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #525C77;
  font-family: "Open sans", sans-serif;
}
.section__newitems-crossed {
  text-decoration: line-through;
  margin-left: 8px;
}
.section__newitems-color {
  display: flex;
  margin-top: 16px;
}
.section__newitems-color li:not(:last-child) {
  margin-right: 10px;
}

.section__bestseller-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.section__bestseller-box {
  display: flex;
  margin-bottom: 100px;
}
.section__bestseller-item {
  width: calc(100% / 4 - 20px);
}
.section__bestseller-item:not(:last-child) {
  margin-right: 44px;
}
.section__bestseller-img {
  width: 100%;
}
.section__bestseller-title {
  margin-top: 16px;
}
.section__bestseller-price {
  display: flex;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #525C77;
  font-family: "Open sans", sans-serif;
}
.section__bestseller-crossed {
  text-decoration: line-through;
  margin-left: 8px;
}
.section__bestseller-color {
  display: flex;
  margin-top: 16px;
}
.section__bestseller-color li:not(:last-child) {
  margin-right: 10px;
}

.section__lookbook-box {
  display: flex;
  margin-bottom: 64px;
}
.section__lookbook-header {
  margin-bottom: 24px;
}
.section__lookbook-item {
  width: calc(100% / 2 - 20px);
}
.section__lookbook-item:not(:last-child) {
  margin-right: 44px;
}
.section__lookbook-ritem:not(:last-child) {
  margin-bottom: 35px;
}
.section__lookbook-limg {
  width: 100%;
}
.section__lookbook-rimg {
  width: 100%;
}

input[type=checkbox] {
  display: none;
}

.header__menu-mob {
  display: none;
}

.header__menu-pad {
  display: none;
}

.online__shop-menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.3s ease;
  position: absolute;
  top: 147px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  height: 304px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #2F343D;
  font-family: "Open sans", sans-serif;
}
.online__shop-ul {
  column-count: 3;
  padding: 0 calc(50% - 295px);
  margin-top: 16px;
}
.online__shop-li {
  margin-bottom: 16px;
}
.online__shop-link:hover {
  color: #AB5946;
}

#online__shop:checked ~ .online__shop-menu {
  visibility: visible;
  opacity: 0.8;
}

#online__shop:checked + .header__title-label {
  text-decoration: underline;
  color: #AB5946;
}

.collection__menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.3s ease;
  position: absolute;
  top: 147px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  height: 304px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #2F343D;
  font-family: "Open sans", sans-serif;
}
.collection__ul {
  padding: 0 calc(50% - 130px);
  margin-top: 16px;
}
.collection__li {
  margin-bottom: 16px;
}
.collection__link:hover {
  color: #AB5946;
}

#collection:checked ~ .collection__menu {
  visibility: visible;
  opacity: 0.8;
}

#collection:checked + .header__title-label {
  text-decoration: underline;
  color: #AB5946;
}

.information__menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.3s ease;
  position: absolute;
  top: 147px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  height: 304px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #2F343D;
  font-family: "Open sans", sans-serif;
}
.information__ul {
  position: absolute;
  left: calc(50% - 8px);
  margin-top: 16px;
}
.information__li {
  margin-bottom: 16px;
}
.information__link:hover {
  color: #AB5946;
}

#information:checked ~ .information__menu {
  visibility: visible;
  opacity: 0.8;
}

#information:checked + .header__title-label {
  text-decoration: underline;
  color: #AB5946;
}

.habout__menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.3s ease;
  position: absolute;
  top: 147px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  height: 304px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #2F343D;
  font-family: "Open sans", sans-serif;
}
.habout__ul {
  position: absolute;
  left: calc(50% + 205px);
  margin-top: 16px;
}
.habout__li {
  margin-bottom: 16px;
}
.habout__link:hover {
  color: #AB5946;
}

#habout:checked ~ .habout__menu {
  visibility: visible;
  opacity: 0.8;
}

#habout:checked + .header__title-label {
  text-decoration: underline;
  color: #AB5946;
}

@media screen and (max-width: 1439px) {
  h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #333333;
  }

  .content {
    padding: 0 40px;
  }

  .section__collection-item:not(:last-child) {
    margin-right: 28px;
  }

  .section__newitems-item:not(:last-child) {
    margin-right: 28px;
  }

  .section__lookbook-item:not(:last-child) {
    margin-right: 28px;
  }

  .section__lookbook-ritem:not(:last-child) {
    margin-bottom: 9px;
  }

  .section__newitems-item {
    width: calc(100% / 3 - 20px);
  }
  .section__newitems-item:nth-last-child(-n+2) {
    margin-right: 0;
  }
  .section__newitems-item:last-child {
    display: none;
  }

  .section__bestseller-item:not(:last-child) {
    margin-right: 28px;
  }

  .section__bestseller-item {
    width: calc(100% / 3 - 20px);
  }
  .section__bestseller-item:nth-last-child(-n+2) {
    margin-right: 0;
  }
  .section__bestseller-item:last-child {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .header__logo {
    margin-top: 0;
  }

  .header__position {
    display: none;
  }

  .header__search {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__menu-pad {
    display: block;
  }

  .header__top {
    justify-content: unset;
  }

  .header__logo {
    margin-left: 28px;
  }

  .header__icons {
    margin-left: auto;
  }

  .footer__discount {
    display: none;
  }
  .footer__discount-mobile {
    display: block;
    margin-top: 24px;
  }
  .footer__textinput {
    width: 166px;
  }
  .footer__hline {
    margin-top: 24px;
  }

  .footer__bottom ul {
    justify-content: unset;
  }
  .footer__bottom-ul {
    justify-content: unset;
    flex-direction: column;
  }
  .footer__bottom-li {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 639px) {
  .header__logo-pic {
    width: 188px;
  }

  .content {
    padding: 0 20px;
  }

  .header__menu-pad {
    display: none;
  }
  .header__menu-mob {
    display: block;
  }
  .header__login {
    display: none;
  }
  .header__logo {
    margin-left: 0;
  }

  .section__collection-box {
    flex-direction: column;
  }
  .section__collection-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .section__newitems-box {
    flex-direction: column;
  }
  .section__newitems-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .section__newitems-item:last-child {
    display: block;
  }

  .section__lookbook-box {
    flex-direction: column;
  }
  .section__lookbook-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .section__bestseller-box {
    flex-direction: column;
  }
  .section__bestseller-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .section__bestseller-item:last-child {
    display: block;
  }

  .footer__top {
    flex-direction: column;
  }
  .footer__top div {
    margin-bottom: 32px;
  }

  .footer__textinput {
    width: 100%;
  }
  .footer__button {
    width: 100%;
  }

  .footer__snetwork-ul {
    display: flex;
    flex-direction: column;
  }

  .footer__snetwork-bm {
    margin-bottom: 24px;
  }
}

/*# sourceMappingURL=main.css.map */
