html {
  height: 100%;
}

body {
  font-family: "Lora", serif;
  color: #1F1B20;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #1F1B20;
  text-align: center;
  padding-bottom: 20px;
}

h2:first-letter {
  text-transform: uppercase;
}

p:first-letter {
  text-transform: uppercase;
}

::placeholder {
  color: #FAFAFA;
}

input {
  outline: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

.content {
  padding: 0 calc(50% - 626px);
}

.mask__content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  opacity: 0;
}

.header {
  position: relative;
  background-color: #FFFFFF;
}
.header__top {
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 16px;
}
.header__txtpos {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #1F1B20;
}
.header__logo {
  margin-top: 24px;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__item li:not(:last-child) {
  margin-right: 24px;
}
.header__titem a {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #1F1B20;
  text-decoration: none;
}
.header__titem:not(:last-child) {
  margin-right: 40px;
}
.header__bottombg {
  background: url("../img/banner.jpg") no-repeat center;
  min-height: 788px;
}

#header__position {
  position: relative;
  display: inline-block;
}
#header__position:hover:after {
  content: attr(data-position);
  position: absolute;
  text-align: center;
  left: -30px;
  top: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #FFF;
  padding: 8px 7px;
  background-color: #000;
  border: 1px solid #000;
}

.footer {
  min-height: 430px;
  background-color: #8D95A3;
}
.footer__textinput {
  width: 280px;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 16px;
  background-color: #8D95A3;
  border: 0;
  border-bottom: 1px solid #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #FAFAFA;
}
.footer__top {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
}
.footer__lheader {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FFF;
  margin-bottom: 24px;
}
.footer__inflink, .footer__ablink, .footer__phlink {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #FFF;
  font-family: "Open sans", sans-serif;
  text-decoration: none;
}
.footer__linkitem:not(:last-child) {
  margin-bottom: 16px;
}
.footer__hline {
  margin-top: 66px;
  margin-bottom: 24px;
}
.footer__bottom ul {
  display: flex;
  justify-content: space-between;
}
.footer__linktext {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #FFF;
  font-family: "Open sans", sans-serif;
  text-decoration: none;
}
.footer__snetwork {
  align-items: center;
  display: flex;
}
.footer__snetwork-icon {
  margin-right: 12px;
}
.footer__snetwork:not(:last-child) {
  margin-right: 32px;
}
.footer__button {
  padding: 17px 24px;
  border: 1px solid #FFF;
  background-color: #8D95A3;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #FFF;
  font-family: "Open sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer__button-icon {
  margin-right: 12px;
}

input[type=checkbox] {
  display: none;
}

.menu__list {
  position: absolute;
  box-sizing: border-box;
  z-index: 200;
  top: 86px;
  width: 120px;
  background: white;
  padding: 32px;
  left: -120px;
  transition: left 0.3s;
}
.menu__item:not(:last-child) {
  padding-bottom: 16px;
}
.menu__ul:first-child {
  padding-top: 32px;
}
.menu__link {
  color: #1F1B20;
  text-decoration: none;
}
.menu__close {
  position: absolute;
  top: 16px;
  right: 16px;
}
.menu__tclose {
  cursor: pointer;
}

#menu__toggle:checked ~ .menu__list {
  left: 0;
  box-shadow: 4px 0 20px 0 rgba(0, 0, 0, 0.5);
}

#menu__toggle:checked ~ .mask__content {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 17px !important;
  }

  h2 span {
    font-size: 18px !important;
  }
}

/*# sourceMappingURL=main.css.map */
